body {
    font-family: "Happy Monkey", Arial, sans-serif; /* Apply Happy Monkey font */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #171717;
    margin: 0;
    padding: 20px;
    color: #b4b4b4; /* Default text color */
}

h1 {
    color: #b4b4b4;
}

#upload-image-txt {
    
    font-weight: bold;
    position: absolute;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    
}


#upload-form {
    font-family: "Happy Monkey", Arial, sans-serif; /* Apply Happy Monkey font */
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.upload-container {
     font-family: "Happy Monkey", Arial, sans-serif; /* Apply Happy Monkey font */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ensure full width */
}

.palette-input-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align to the right */
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
}

#image-upload {
    border-radius: 20px;
    color: #b4b4b4;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

#update-palette-btn {
    background-color: #28a745; /* Green variant */
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 10px;
}

button:hover,
#update-palette-btn:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 2px solid #000;
    background-color: #212121;
    margin-top: 20px;
}

#uploaded-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100%;
    max-width: 360px;
    height: 240px;
    margin: 10px;
    position: relative; /* Ensure relative positioning for absolute elements */
}

#uploaded-image {
    max-width: 100%;
    max-height: 100%;
}

#color-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    max-width: 600px;
    margin: 10px;
}

#extracted-color {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
    margin-left: 0;
}

#color-results div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #C0C0C0;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    margin: 5px;
}

#footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171717;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
}

#footer-description {
    background-color: #212121;
    padding: 20px;

    border-radius: 20px;
    max-width: 1200px;
    text-align: center;
    color: #e6edf3;

}
